@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
.section-principal, .pie, .sobre-nosotros {
  display: flex;
  flex-direction: column; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Montserrat", sans-serif; }

.grid-contenedor {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto;
  grid-template-areas: "encabezado encabezado encabezado" "contenido contenido contenido" "contenido contenido contenido" "contenido contenido contenido" "pie pie pie"; }

.grid-contenedor .encabezado {
  grid-area: encabezado; }

.grid-contenedor .contenido {
  grid-area: contenido; }

.grid-contenedor .pie {
  grid-area: pie; }

.section-principal, .pie, .sobre-nosotros {
  display: flex;
  flex-direction: column; }

.section-principal, .pie, .sobre-nosotros {
  display: flex;
  flex-direction: column; }

.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0d8;
  grid-column-start: 1;
  grid-column-end: 4; }
  .encabezado nav ul {
    display: flex;
    list-style: none; }
    .encabezado nav ul li {
      margin: 15px; }
      .encabezado nav ul li a {
        text-decoration: none;
        color: #7a8370;
        font-size: 20px; }

.section-principal, .pie, .sobre-nosotros {
  display: flex;
  flex-direction: column; }

.section-principal {
  background-image: url("../img/fondo-index2.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: flex-end; }
  .section-principal .titular {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center; }
    .section-principal .titular h1 {
      text-align: center;
      color: white;
      font-size: 60px;
      margin-bottom: 25px; }
    .section-principal .titular a {
      text-decoration: none;
      color: white;
      background: #5cb8ff;
      padding: 14px 24px; }

.section-principal, .pie, .sobre-nosotros {
  display: flex;
  flex-direction: column; }

.pie {
  background-color: #f0f0d8;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 4;
  align-items: center; }
  .pie .redes a img {
    width: 50px;
    height: 50px;
    margin: 25px;
    transition: 1s; }
    .pie .redes a img:hover {
      transform: scale(1.2); }
  .pie .links-footer a {
    color: #7a8370;
    text-decoration: none;
    font-size: 20px;
    margin: 20px; }

.section-principal, .pie, .sobre-nosotros {
  display: flex;
  flex-direction: column; }

.titulo h3 {
  text-align: center;
  font-size: 55px; }

.grid-container {
  height: 60vh;
  margin: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr 3fr;
  grid-column-gap: 35px;
  grid-row-gap: 35px; }
  .grid-container .curso h4 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px; }
  .grid-container .curso p {
    text-align: center; }
  .grid-container .curso:hover {
    transition: 0.5s;
    transform: scale(1.1); }
  .grid-container .borde {
    border: 2px solid black;
    border-radius: 15px; }
  .grid-container .violeta {
    background-color: #5055df;
    box-shadow: 0 12px 30px 0 rgba(80, 85, 223, 0.37); }
  .grid-container .celeste {
    background-color: #40a8f9;
    box-shadow: 0 12px 30px 0 rgba(80, 85, 223, 0.37); }

.section-principal, .pie, .sobre-nosotros {
  display: flex;
  flex-direction: column; }

.sobre-nosotros {
  width: 100%;
  height: 100vh; }
  .sobre-nosotros h3 {
    text-align: center;
    font-size: 55px;
    margin: 30px; }
  .sobre-nosotros .sobre-nosotros-container {
    display: flex;
    justify-content: center;
    align-items: flex-center; }
    .sobre-nosotros .sobre-nosotros-container .sobre-nosotros-imagen img {
      width: 500px;
      height: auto;
      margin-right: 20px;
      margin-bottom: 20px; }
    .sobre-nosotros .sobre-nosotros-container .sobre-nosotros-texto p {
      width: 500px;
      font-size: 21px;
      margin-left: 20px; }

.section-principal, .pie, .sobre-nosotros {
  display: flex;
  flex-direction: column; }

.blog .contenedor h3 {
  text-align: center;
  font-size: 55px;
  margin: 10px; }

.blog .contenedor .contenedor-publicaciones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px; }
  .blog .contenedor .contenedor-publicaciones .card {
    box-shadow: 1px 1px 14px #ccc;
    margin: 10px; }
    .blog .contenedor .contenedor-publicaciones .card img {
      width: 100%;
      height: 60%; }
    .blog .contenedor .contenedor-publicaciones .card h4 {
      font-size: 23px;
      text-align: center;
      margin-bottom: 10px; }
    .blog .contenedor .contenedor-publicaciones .card p {
      color: #5a6169;
      font-size: 16px;
      margin-bottom: 30px; }
    .blog .contenedor .contenedor-publicaciones .card .card-body a {
      text-decoration: none;
      color: white;
      background: #5cb8ff;
      padding: 14px 24px; }

.section-principal, .pie, .sobre-nosotros {
  display: flex;
  flex-direction: column; }

.text-center {
  text-align: center;
  font-size: 55px; }

.formulario {
  max-width: 60rem;
  margin: 0 auto; }

.formulario fieldset {
  border: 1px solid black;
  margin-bottom: 20px; }

.formulario legend {
  margin: 0 auto;
  background-color: #5055df;
  width: 97%;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 900;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 9px; }

.formulario .campo {
  display: flex;
  margin: 30px; }
  .formulario .campo label {
    flex-basis: 10rem; }

.campo input:not([type="radio"]),
.campo textarea,
.campo select {
  flex: 1;
  border: 1px solid #e1e1e1;
  padding: 15px; }

.btn {
  background: #5cb8ff;
  margin: 0 auto;
  display: block;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 900;
  padding: 15px;
  transition: background-color .3s ease-out;
  text-align: center;
  border: none;
  width: 100%;
  margin-bottom: 25px; }

.section-principal, .pie, .sobre-nosotros {
  display: flex;
  flex-direction: column; }

@media screen and (max-width: 1200px) {
  .encabezado {
    display: flex;
    flex-direction: column; }
  .contenido .section-principal {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #f7f6e9;
    padding: 25px;
    background-image: url("../img/elaboracion-procesoo.jpg");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 50% 10%; }
  .section-principal .titular h1 {
    text-align: center;
    color: #7a8370;
    font-size: 55px;
    margin-bottom: 25px; }
  .sobre-nosotros-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; } }

@media screen and (max-width: 1000px) {
  .formulario {
    width: 95%; } }

@media screen and (max-width: 900px) {
  .contenido .titulo {
    font-size: 45px; }
  .grid-container {
    height: 80%;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 35px;
    grid-row-gap: 35px; } }

@media screen and (max-width: 750px) {
  .lista-menu {
    display: flex;
    flex-direction: column; } }

@media screen and (max-width: 700px) {
  .lista-menu {
    display: flex;
    flex-direction: column; }
  .contenido .titulo {
    font-size: 45px; }
  .grid-container {
    height: 80%;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 35px;
    grid-row-gap: 35px; }
  .blog .contenedor .contenedor-publicaciones {
    display: flex;
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 600px) {
  .sobre-nosotros h3 {
    font-size: 40px;
    margin: 15px;
    margin: 15px; }
  .sobre-nosotros-imagen img {
    width: 80%;
    margin-left: 20px; }
  .sobre-nosotros-texto {
    font-size: 19px;
    text-align: center; } }
