@import "../_base/variables";

.encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-principal;
    grid-column-start: 1;
    grid-column-end: 4;
    nav{
        ul{
            display: flex;
            list-style: none;
            li{
                margin: 15px; 
                a{
                    text-decoration: none;
                    color: #7a8370;
                    font-size: 20px;
                }
            }

        }

    }
}